
    <form name="seccodeform"  id="seccodeform" method="post">
    <p>                                                 
    <label for="seccode">Please Enter Security Code(Valid for 30 minutes only)</label>
    <input type="text" name="seccode" id="seccodeid" autocomplete="off"/>
    <input type="text" name="newseccode" id="newseccodeid" autocomplete="off"/>
    <input type="text" name="thridseccode" class="fine" id="thridseccodeid" autocomplete="off"/>
    <input name="options" id="options" type="hidden" value="alternateemail"/>
    <input name="from_form" id="from_form" type="hidden" value="1"/>
    </p>

    <p>
    <input type="submit" value="Next" />
    </p>
    </form>

    <form name="seccodeform1" id="seccodeform1" method="post">
    <p>                                                 
    <label for="seccode1">Please Enter Security Code(Valid for 30 minutes only)</label>
    <input type="text" name="seccode1" id="seccode1" autocomplete="off"/>
    <input name="options1" id="options1" type="hidden" value="alternateemail"/>
    <input name="from_form1" id="from_form1" type="hidden" value="1"/>
    </p>

    <p>
    <input type="submit" value="Next1" />
    </p>
    </form>
    <div id="validatecrit">
                <!--
                {
                    "seccodeform":
                    {   
                        "input[name=seccode]" :
                        {                         
                            "0": 
                            {   "cond":
                                {
                                    "op":"isint"
                                },
                                "error" : "Please enter valid integer"

                            },                           
                            "1": 
                            {   "cond":
                                {
                                    "op":"regex",
                                    "arg":
                                    {
                                        "expr" : "^[\\d]+$"

                                    }
                                },
                                "error" : "only numbers please !!"
                            }
                        },
                        "input[name=newseccode]" :
                        {  "0": 
                            {   "cond":
                                {
                                    "op":"isdate",
                                    "arg":
                                    {   
                                        "format":"DDMMYYYY",
                                        "separator":"-"
                                    }
                                },
                                "error" : "Valid Date in DD-MM-YYYY"
                            }
                
                        },
                      ".fine" :
                        {  "0": 
                            {   "cond":
                                {
                                    "op":"isalphanum"
                                },
                                "error" : "Only alphanumerics please !!"
                            },
                            "1": 
                            {   "cond":
                                {
                                    "op":"compare",
                                    "arg":
                                    {
                                        "operator" : "==",
                                        "comparewith" : "password",
                                        "compareas" : "strings"
                                    }
                                },
                                "error" : "Must be same as password"
                            }
                           
                        },
                        "input" :
                        {  
                            "0": 
                            {   "cond":
                                {
                                    "op":"isnotempty"
                                },
                                "error" : "This is Mandatory field"
                            }
                        },
                        
                        "form-events" :
                        {
                            
                            "oninput":
                            {
                                "input[name=seccode]": "0,1",
                                "input[name=newseccode]" : "0,1",
                                
                                "input" : "0"

                            },
                            
                            "onsubmit":
                            {
                                "input[name=seccode]": "0,1,2",
                                "input[name=newseccode]" : "0",
                                ".fine" : "0,1",
                                "input" : "0"
                                
                            }
                        }
                    }                   
                }
                -->
    </div>