
    <form name="seccodeform"  id="seccodeform" method="post">
    <p>                                                 
    <label for="seccode">Please Enter Security Code(Valid for 30 minutes only)</label>
    <input type="text" name="seccode" id="seccodeid" autocomplete="off"/>
    <input type="text" name="newseccode" id="newseccodeid" autocomplete="off"/>
    <input type="text" name="thridseccode" class="fine" id="thridseccodeid" autocomplete="off"/>
    <input name="options" id="options" type="hidden" value="alternateemail"/>
    <input name="from_form" id="from_form" type="hidden" value="1"/>
    </p>

    <p>
    <input type="submit" value="Next" />
    </p>
    </form>

    <form name="seccodeform1" id="seccodeform1" method="post">
    <p>                                                 
    <label for="seccode1">Please Enter Security Code(Valid for 30 minutes only)</label>
    <input type="text" name="seccode1" id="seccode1" autocomplete="off"/>
    <input name="options1" id="options1" type="hidden" value="alternateemail"/>
    <input name="from_form1" id="from_form1" type="hidden" value="1"/>
    </p>

    <p>
    <input type="submit" value="Next1" />
    </p>
    </form>
    <div id="validatecrit">
                <!--
                {
                    "seccodeform":
                    {   
                        "input[name=seccode]" :
                        {                         
                            "0": 
                            {   "cond":
                                {
                                    "op":"isint"
                                },
                                "error" : "Please enter valid integer"

                            },
                            "1": 
                            {   "cond":
                                {
                                    "op":"isnotempty"
                                },
                                "error" : "This is Mandatory field"
                            },                      
                            "2": 
                            {   "cond":
                                {
                                    "op":"regex",
                                    "arg":
                                    {
                                        "expr" : "^[\\d]+$"

                                    }
                                },
                                "error" : "only numbers please !!"
                            },
                            "3": 
                            {   "cond":
                                {
                                    "op":"compare",
                                    "arg":
                                    {
                                        "operator" : ">=",
                                        "comparewith" : "20",
                                        "compareas" : "numbers"
                                    }
                                },
                                "error" : "Must be greater greater than 20"
                            }

                        },
                        "input[name=newseccode]" :
                        {  "0": 
                            {   "cond":
                                {
                                    "op":"isdate",
                                    "arg":
                                    {   
                                        "format":"DDMMYYYY",
                                        "separator":"-"
                                    }
                                },
                                "error" : "Valid Date in DD-MM-YYYY"
                            },
                            "1": 
                            {   "cond":
                                {
                                    "op":"isnotempty"
                                },
                                "error" : "This is Mandatory fields"
                            }
                
                        },
                      ".fine" :
                        {  "0": 
                            {   "cond":
                                {
                                    "op":"isint"
                                },
                                "error" : "Please enter valid integer for fine"
                            },
                            "1": 
                            {   "cond":
                                {
                                    "op":"isnotempty"
                                },
                                "error" : "This is Mandatory field"
                            }
                        },                
                        "form-events" :
                        {
                            
                            "onfocus":
                            {
                                "input[name=seccode]": "0,1,2",
                                "input[name=newseccode]" : "0,1",
                                ".fine" : "0,1"

                            },
                            "onkeyup":
                            {
                                "input[name=seccode]": "0,1,2",
                                "input[name=newseccode]" : "0,1",
                                ".fine" : "0,1"

                            },
                            "onsubmit":
                            {
                                "input[name=seccode]": "0,1,2,3",
                                "input[name=newseccode]" : "0,1"
                                
                            }
                        }
                    }                   
                }
                -->
    </div>

    <script src="http://code.jquery.com/jquery-1.11.3.js"></script>
    <script>
    function load_validate_crit()
    {

        var validatecrit_element = document.getElementById("validatecrit");
        var validation_json = validatecrit_element.childNodes[1].textContent; //comment inside div #validatecrit contains valdation json
        var validation_json_array = JSON.parse(validation_json);
        return validation_json_array;
        //return cookie_to_validatecrit();       
     }

    function empty(str) {
        return (!str || 0 === str.length);
    }
    function in_array(needle, haystack, argStrict) 
    {
      //  discuss at: http://phpjs.org/functions/in_array/
      // original by: Kevin van Zonneveld (http://kevin.vanzonneveld.net)
      // improved by: vlado houba
      // improved by: Jonas Sciangula Street (Joni2Back)
      //    input by: Billy
      // bugfixed by: Brett Zamir (http://brett-zamir.me)
      //   example 1: in_array('van', ['Kevin', 'van', 'Zonneveld']);
      //   returns 1: true
      //   example 2: in_array('vlado', {0: 'Kevin', vlado: 'van', 1: 'Zonneveld'});
      //   returns 2: false
      //   example 3: in_array(1, ['1', '2', '3']);
      //   example 3: in_array(1, ['1', '2', '3'], false);
      //   returns 3: true
      //   returns 3: true
      //   example 4: in_array(1, ['1', '2', '3'], true);
      //   returns 4: false

      var key = '',
        strict = !! argStrict;

      //we prevent the double check (strict && arr[key] === ndl) || (!strict && arr[key] == ndl)
      //in just one for, in order to improve the performance 
      //deciding wich type of comparation will do before walk array
      if (strict) {
        for (key in haystack) {
          if (haystack[key] === needle) {
            return true;
          }
        }
      } else {
        for (key in haystack) {
          if (haystack[key] == needle) {
            return true;
          }
        }
      }

      return false;
    }

    function isset() 
    {
      //  discuss at: http://phpjs.org/functions/isset/
      // original by: Kevin van Zonneveld (http://kevin.vanzonneveld.net)
      // improved by: FremyCompany
      // improved by: Onno Marsman
      // improved by: Rafał Kukawski
      //   example 1: isset( undefined, true);
      //   returns 1: false
      //   example 2: isset( 'Kevin van Zonneveld' );
      //   returns 2: true

      var a = arguments,
        l = a.length,
        i = 0,
        undef;

      if (l === 0) {
        throw new Error('Empty isset');
      }

      while (i !== l) {
        if (a[i] === undef || a[i] === null) {
          return false;
        }
        i++;
      }
      return true;
    }

    function findParentForm(elem)
    { 
    var parent = elem.parentNode; 
    if(parent && parent.tagName != 'FORM'){
    parent = findParentForm(parent);
    }
    return parent;
    }

    function implode(glue, pieces) {
      //  discuss at: http://phpjs.org/functions/implode/
      // original by: Kevin van Zonneveld (http://kevin.vanzonneveld.net)
      // improved by: Waldo Malqui Silva
      // improved by: Itsacon (http://www.itsacon.net/)
      // bugfixed by: Brett Zamir (http://brett-zamir.me)
      //   example 1: implode(' ', ['Kevin', 'van', 'Zonneveld']);
      //   returns 1: 'Kevin van Zonneveld'
      //   example 2: implode(' ', {first:'Kevin', last: 'van Zonneveld'});
      //   returns 2: 'Kevin van Zonneveld'

      var i = '',
        retVal = '',
        tGlue = '';
      if (arguments.length === 1) {
        pieces = glue;
        glue = '';
      }
      if (typeof pieces === 'object') {
        if (Object.prototype.toString.call(pieces) === '[object Array]') {
          return pieces.join(glue);
        }
        for (i in pieces) {
          retVal += tGlue + pieces[i];
          tGlue = glue;
        }
        return retVal;
      }
      return pieces;
    }

    var jsvalidator = function(){}

    jsvalidator.prototype.validate = function(cond,value,arg)
    {
            //var cond1 = cond.split("#");         //for date,zipcode etc we get extra string with # for example isdate#DDMMYYY#-

             switch (cond)
             {
                 case 'isint':
                     return this.isint(value);
                 case 'isfloat':
                     return this.isfloat(value);
                 case 'isemail':
                     return this.isemail(value);
                 case 'isip':
                     return this.isip(value);
                 case 'ismac':
                     return this.ismac(value);
                 case 'isurl':
                     return this.isurl(value);
                 //if data then it comes in format of isdate#<Data format DDMMYYYY or DDMONYYYY>#<Separator - or / or .>
                 case 'isdate': //allowed formats #DDMMYYYY#- or #DDMMYYYY#/ or#DDMMYYYY#. or #DDMONYYYY#- or #DDMON-YYYY#/ or #DDMONYYYY#. where - , / , . are separators
                         if(isset(arg['format']) && isset(arg['separator']))
                         return this.isdate(value,arg['format'],arg['separator']);
                         else
                         return 0;    
                       return this.isdate(value,cond1[1],cond1[2]);
                 case 'isphone': //allowed formats #+CC#10 or #CC#10 or #10 where 10 is number of digits in phone number exluding countrycode. Country code is supported from 1 to 3 characters max
                        if(isset(arg['ccformat']) && isset(arg['digits']))
                         {   
                             if(arg['ccformat'] == '+CC' || arg['ccformat'] == 'CC')
                             return this.isphone(value,arg['ccformat'],arg['digits']);
                             else
                             return 0;
                         }
                        else
                        return 0;                       
                 case 'isalphanum':
                     return this.isalphanum(value);
                 case 'iszipcode'://#CC where CC is two CHARACTER country code for which zip needs to be validated
                     if(isset(arg['countrycode']))
                     return this.iszipcode(value,arg['countrycode']);
                     else
                     return 0;     
                 case 'isnotempty':
                     return this.isnotempty(value);
                 case 'isempty':
                     return this.isempty(value);
                 case 'compare':
                     return this.compare(value,arg['comparewith'],arg['operator']);
                 case 'regex':
                     return this.regexp(arg['expr'],value);

             }
        }

    jsvalidator.prototype.compare = function compare(operand1,operand2,operator)
     {
        if(isset(operand1) && isset(operand2) && isset(operator))
        {
            switch (operator)
            {
                 case '==':
                     return (operand1 == operand2)?1:0;
                 case '!=':
                     return (operand1 != operand2)?1:0;
                 case '>':
                     return (operand1 > operand2)?1:0;
                 case '<':
                     return (operand1 < operand2)?1:0;
                 case '>=':
                     return (operand1 >= operand2)?1:0;
                 case '<=':
                     return (operand1 <= operand2)?1:0;
                 case '===':
                     return (operand1 === operand2)?1:0;
                 case '!==':
                     return (operand1 === operand2)?1:0;

            }
        }
        else
        return 0;
     }
    jsvalidator.prototype.regexp = function(regex,value)
    {
            //regex = "/"+regex+"/";
            var thisregex = new RegExp(regex);
        return thisregex.test(value);

    }

    jsvalidator.prototype.isdate = function(value,dateformat,separator)
    {       
            var regex;
            switch (dateformat)
            {
                case 'DDMMYYYY':
                    regex = "^(?:(?:31(\\"+separator+")(?:0?[13578]|1[02])))|(?:(?:29|30)(\\"+separator+")(?:0?[1,3-9]|1[0-2]))(\\"+separator+")(?:(?:1[6-9]|[2-9]\\d)?\\d{2})$|^(?:29(\\"+separator+")(?:0?2|(?:Feb))(\\"+separator+")(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\\d|2[0-8])(\\"+separator+")(?:(?:0?[1-9])|(?:1[0-2]))(\\"+separator+")(?:(?:1[6-9]|[2-9]\\d)?\\d{2})\$";
                    break;
                case 'DDMONYYYY':
                    regex = "^(?:(?:31(\\"+separator+")(?:Jan|Mar|May|Jul|Aug|Oct|Dec))|(?:(?:29|30)(\\"+separator+")(?:Jan|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)))(\\"+separator+")(?:(?:1[6-9]|[2-9]\\d)?\\d{2})$|^(?:29(\\"+separator+")(?:Feb)(\\"+separator+")(?:(?:(?:1[6-9]|[2-9]\\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\\d|2[0-8])(\\"+separator+")((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep)|(?:Oct|Nov|Dec))(\\"+separator+")(?:(?:1[6-9]|[2-9]\\d)?\\d{2})\$";
                    break;        
            }
            return this.regexp(regex,value);

    }

    jsvalidator.prototype.isphone = function(value,ccformat,digits)
    {
         var regex = '';//dont set it to null or leave it undefined ,becuase javascript is stupid enough to add "null" or "undefined" as string to regex when we do regex = "some value" + regex;
         if(ccformat == '+CC')
         {
            regex = '[\\+][0-9]{1,3}'+regex;
         }
         else if(ccformat == 'CC')
         {
            regex = '[0-9]{1,3}'+regex;
         }
         if(!empty(regex))
         regex = '^'+regex+'[0-9]{'+digits+'}$';
         else
         regex = '^[0-9]{'+digits+'}$';

         return this.regexp(regex,value);;
    }

    jsvalidator.prototype.iszipcode = function(value,country)
    {
        switch(country)
        {
            case 'IN':
            var regex = "^[1-9]{1}[0-9]{5}";//6 digit numeric code not starting with 0
            return this.regexp(regex,value);
        }
    }

    jsvalidator.prototype.isalphanum = function(value)
    {
     var regex = "^[0-9a-zA-Z ,\\.\\-_\\\s\\?\\!]+$";
     return this.regexp(regex,value);
    }

    jsvalidator.prototype.isempty = function(value)
    {
     return empty(value);
    }

    jsvalidator.prototype.isnotempty = function(value)
    {
     return !empty(value);
    }

    jsvalidator.prototype.isemail = function(value) {
        var regex = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
        return regex.test(value);
    }
    jsvalidator.prototype.isip = function(value)
    {
        var regex = /^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$|^(([a-zA-Z]|[a-zA-Z][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z]|[A-Za-z][A-Za-z0-9\-]*[A-Za-z0-9])$|^\s*((([0-9A-Fa-f]{1,4}:){7}([0-9A-Fa-f]{1,4}|:))|(([0-9A-Fa-f]{1,4}:){6}(:[0-9A-Fa-f]{1,4}|((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){5}(((:[0-9A-Fa-f]{1,4}){1,2})|:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){4}(((:[0-9A-Fa-f]{1,4}){1,3})|((:[0-9A-Fa-f]{1,4})?:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){3}(((:[0-9A-Fa-f]{1,4}){1,4})|((:[0-9A-Fa-f]{1,4}){0,2}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){2}(((:[0-9A-Fa-f]{1,4}){1,5})|((:[0-9A-Fa-f]{1,4}){0,3}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){1}(((:[0-9A-Fa-f]{1,4}){1,6})|((:[0-9A-Fa-f]{1,4}){0,4}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(:(((:[0-9A-Fa-f]{1,4}){1,7})|((:[0-9A-Fa-f]{1,4}){0,5}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:)))(%.+)?\s*$/i;
        return regex.test(value);
    }
    jsvalidator.prototype.isint = function(value) 
    {
      return !isNaN(value) && (function(x) { return (x | 0) === x; })(parseFloat(value))
    }
    jsvalidator.prototype.isfloat = function(value)
    {
        var val = parseFloat(value);
        if(isNaN(val))
        return 0;
        else
        return 1;

    }
    jsvalidator.prototype.isurl = function(value)
    {
       return 1; 
    }
    //document.getElementById("seccodeform").addEventListener("submit", fps_option_altemail_verify_seccode(event));
    //function createCookie(name,value,days) {
    //    if (days) {
    //        var date = new Date();
    ///        date.setTime(date.getTime()+(days*24*60*60*1000));
    //        var expires = ", expires="+date.toGMTString();
    //    }
     //   else var expires = "";
     //   //var cookie = name+"="+value+",path=/"+",domain="+window.location.host.toString()+expires;
     //   var cookie = [name, '=', JSON.stringify(value), '; domain=.', window.location.host.toString(), '; path=/;'].join('');
     //   document.cookie = cookie;
    //}
    function bake_json_cookie(name, value) {
      var cookie = [name, '=', JSON.stringify(value), '; domain=.', window.location.host.toString(), '; path=/;'].join('');
      document.cookie = cookie;
    }

    function read_json_cookie(name) {
     var result = document.cookie.match(new RegExp(name + '=([^;]+)'));
     var result_decoded = decodeURIComponent(result[1].replace(/\+/g, ' '));//browser replaces spaces with + while creating ccokies, so need to replace + with space and also browser does URI encode, so we need to URIdecode
     var result_json = JSON.parse(result_decoded);
     return result_json;
    }

    function delete_cookie(name) {
      document.cookie = [name, '=; expires=Thu, 01-Jan-1970 00:00:01 GMT; path=/; domain=.', window.location.host.toString()].join('');
    }
    function validatecrit_to_cookie()
    {
        var validatecrit_element = document.getElementById("validatecrit");
        var validation_json = validatecrit_element.childNodes[1].textContent; //comment inside div #validatecrit contains valdation json
        //var json_validate_string = validation_json;
        validation_json = JSON.parse(validation_json);
        bake_json_cookie('validate_crit_json',validation_json);
        validatecrit_element.childNodes[1].textContent = '';
        //alert("Your Cookie : " + document.cookie);
    }
    function cookie_to_validatecrit()
    {
        var validation_json_array = read_json_cookie('validate_crit_json3');

        return validation_json_array;
    }
    function events_validator()//main events validator function
    {
        var form,json_validation_array;
        json_validation_array = load_validate_crit();
        
        var selectorevents_validation_array = new Array();
        var formevents_validation_array = new Array();
        if(isset(json_validation_array))
        {
            for(form in json_validation_array)
            {
                var formid = '#'+form, event,selector_array,selector,condition_array,conditionset;
                
                var events_array = isset(json_validation_array[form]['form-events'])?json_validation_array[form]['form-events']:null;
                if(events_array != null)
                {
                    for(event in events_array)
                    {
                        selector_array = events_array[event];
                        for(selector in selector_array)
                        {
                            conditionset = selector_array[selector];
                            if(isset(conditionset))
                            {
                                condition_array = conditionset.split(',');
                            }
                            if(event != 'onsubmit')//onsubmit is forms not for individual selectors/elements
                            {
                                    var t_event = condition_array;  
                                    var t_selector = new Array();
                                    t_selector[event] = t_event;
                                    var t_formid = new Array();
                                    t_formid[selector] = t_selector;
                                    
                                if(isset(selectorevents_validation_array[formid]))
                                {
                                    if(isset(selectorevents_validation_array[formid][selector]))
                                    {
                                        selectorevents_validation_array[formid][selector][event] = condition_array;                             
                                    }
                                    else                                    
                                    selectorevents_validation_array[formid][selector] = t_selector;
                                }
                                else
                                {
                                    selectorevents_validation_array[formid] = t_formid;
                                }
                                //load the actual condition criteria also into this array;
                                var y;
                                for(y = 0; y < selectorevents_validation_array[formid][selector][event].length ; y++ )
                                {
                                    var condition_num = selectorevents_validation_array[formid][selector][event][y];
                                    selectorevents_validation_array[formid][selector][event][y] = json_validation_array[form][selector][condition_num];
                                }
                                
                            }
                            else
                            {
                               //for form level events like onsubmit, more other form level events can be added later
                                var t_selector = condition_array;
                                var t_event = new Array();
                                t_event[selector] = t_selector;
                                
                                if(isset(formevents_validation_array[formid]))
                                {
                                    if(isset(formevents_validation_array[formid][event]))
                                    {
                                        formevents_validation_array[formid][event][selector]= t_selector;
                                    }
                                    else
                                    {
                                        var t_formid = new Array();
                                        t_formid[event] = t_event;   
                                        formevents_validation_array[formid][event]= t_event;                                    
                                    }                                  
                                }
                                else
                                {
                                    var t_selector = condition_array;
                                    var t_event = new Array();
                                    t_event[selector] = t_selector;
                                    var t_formid = new Array();
                                    t_formid[event] = t_event;   
                                    formevents_validation_array[formid]= t_formid;
                                }
                                var y;
                                for(y = 0; y < formevents_validation_array[formid][event][selector].length ; y++ )
                                {
                                    var condition_num = formevents_validation_array[formid][event][selector][y];
                                    formevents_validation_array[formid][event][selector][y] = json_validation_array[form][selector][condition_num];
                                }
                            }

                        }   
                    }
                }
            }
            //set selector level validation events like onblur, onchange etc
            if($.isArray(selectorevents_validation_array))
            {
                for(formid in selectorevents_validation_array)
                {

                    var selector_array = selectorevents_validation_array[formid], selector;

                    for(selector in selector_array)
                    {
                        var selector_string = formid+' '+selector;
                        var selector_validation_array = selector_array[selector];
                        //var callback = function(selector_validation_array){set_selector_validation_events(selector_validation_array);}
                        $(selector_string).each(set_selector_validation_events(selector_validation_array));
                    }
                }
            }
            //set form level validation events like onsubmit
            if($.isArray(formevents_validation_array))
            {
                for(formid in formevents_validation_array)
                {
                    var form_event_array = formevents_validation_array[formid], form_event,form_event_selectors_array;
                    var form_event_selector;
                    for(form_event in form_event_array)
                    {
                        form_event = form_event.split('on');//remove on from event names as in jquery onblur is set as .on('blur')
                        form_event = form_event['1'];
                       $(formid).on(form_event,formevents_validator(form_event,form_event_array));

                    }

                }

            }
        }
    }

    function formevents_validator(form_event,form_event_array)
    {
        //validation for all form level events
        var form_event = form_event;
        var form_event_array = form_event_array;
        
        return function(event)
        {
            var this_form = $(this);
            //var this_event = event;
            if(form_event == 'submit')//we remove on from onsubmit before, so use only event name without 'on';
            {
                form_onsubmit_validator(this_form,form_event_array,event);       
            }
        }

    }
    function form_onsubmit_validator(form,form_event_array,event)
    {
        var form_event,selector_array,selector,error_count,condition,errormessage,i;
        
        formerrors.error_count = 0;
        for(form_event in form_event_array)
        {
            selector_array = form_event_array[form_event];
            for(selector in selector_array)
            {
                var selector_string = '#'+form.attr('id') +' '+selector;
                var selector_validation_array = selector_array[selector];
                for (i in selector_validation_array)
                {

                    condition = selector_validation_array[i]['cond'];
                    errormessage = selector_validation_array[i]['error'];
                   
                    $(selector_string).each(validate_and_adderror(condition,errormessage));
                }
            }
        }
        
        if(formerrors.error_count != '0')
        {
            event.preventDefault();           
        }

    }
    function set_selector_validation_events(s_array)
    {
        var selector_validation_array = s_array;
        return function(index,element)
        {
            var selector_event,condition,i,errormessage;
            for(selector_event in selector_validation_array)
            {
                var selector_event_array = selector_validation_array[selector_event];
                selector_event = selector_event.split('on');//remove on from event names as in jquery onblur is set as .on('blur')
                selector_event = selector_event['1'];
                for(i in selector_event_array)
                {
                   condition = selector_event_array[i]['cond'];
                   errormessage = selector_event_array[i]['error'];
                   if(isset(condition))
                   {    
                        $(this).on(selector_event,validate_and_adderror(condition,errormessage));

                   }
                }
            }
        }
}

    function validate_and_adderror(cond,error)//formerrors only used when onsubit event is handled
    {
        var condition = cond;
        var errormessage = error;
        

        return function()
        {
            var elem = $(this);
            if(!isset(formerrors))
            {
                formerrors = null;
            }
            if(!validate_element(condition,elem.val()))
            {
                add_error(elem,errormessage);
                if(isset(formerrors))
                formerrors.error_count++;
            }
            else
            {
                remove_error(elem,errormessage);

            }
        }
    }



    function add_error(elem,errormessage)
    {
        /*if(error label exists)
        {
            content to array
            if (current error messages already exists)
            {
                //ignore and dont add the same one again

            }
            else
            {
                //add error label
                //create array with error message

            }
            array to data
            set data as innertext for error label


        }
             */
          var nextelem = elem.next();
          errormessage = errormessage.trim();
          var labeldata = nextelem.prop('tagName');
          if(nextelem.prop('tagName') == 'LABEL' && nextelem.attr('id') == 'formerror--label')
          {
            var y;  
            var error_innerhtml = nextelem.children().first().html();//error label's first child is font , so fonts innerhtml is error
            var error_innerhtml_array = error_innerhtml.split('||');
            var is_error_there='0';
            for(y=0 ; y < error_innerhtml_array.length ; y++)
            {
                
                if(error_innerhtml_array[y].trim() == errormessage)
                {
                   is_error_there++;
                   break;//do nothing, no point in adding the same error message again
                }
                         
            }
            if(is_error_there == '0')
            {
                error_innerhtml = error_innerhtml+' || '+errormessage;
                nextelem.children().first().html(error_innerhtml);     
            }
   
          }
          else
          {
            elem.attr('style','border:solid 1px red');             
            var errorlabel = "<label id='formerror--label' for='"+elem.attr('name')+"'><font color='red' size='2'>"+errormessage+"</font></label>";
            elem.after(errorlabel);
              
          }
    }

    function remove_error(elem,errormessage)
    {
        /*
         * if(error label exists)
         * {
         *      //data to array
         *      //if current error message exists
         *      {
         *          remove error message 
         *          if(error array is empty)
         *          {
         *              remove entire label
         *          }
         *          else
         *          {
         *              array to data
         *              set data as innertext for error label
         *          }
         *      }
         * }
         */
        var nextelem = elem.next();
        if(nextelem.prop('tagName') == 'LABEL' && nextelem.attr('id') == 'formerror--label')
        {
            var y;  
            var error_innerhtml = nextelem.children().first().html();//error label's first child is font , so fonts innerhtml is error
            var error_innerhtml_array = error_innerhtml.split('||');
            for(y=0 ; y < error_innerhtml_array.length ; y++)
            {
                if(error_innerhtml_array[y].trim() == errormessage)
                {
                   delete(error_innerhtml_array[y]);//delete that errormessage as that validtion passed;
                }
            }
            var actualerrorhtml = new Array();
            var z=0;
            for(y=0 ; y < error_innerhtml_array.length ; y++)
            {
                if(!empty(error_innerhtml_array[y]))
                { 
                   actualerrorhtml[z] = error_innerhtml_array[y];
                   z++;
                   //this is to make sure there are no empty element in array , so that we dont endup a errormessage with 'error1 || || error2';
                }   
            }
            var errorhtml;
            if(actualerrorhtml.length > 1 )//implode with || only if atleast two errors are there
            errorhtml = implode("||",actualerrorhtml);
            else if(actualerrorhtml.length == 1)
            errorhtml = actualerrorhtml['0'];
            else //no errors so set the box border also to black
            {
                    errorhtml='';
                    elem.attr('style','border:solid 1px black');     
                    
            }
            elem.next().children().first().html(errorhtml);

        }
    }
    function validate_element(element_cond,element_value)
    {
        //return 1;
        //if element_cond['op'] is compare_element, then we need to get the value of other element and the call jsvalidate.validate('compare',element_value,$secondelement_value);
        var jsvalidate = new jsvalidator;
        var arg = isset(element_cond['arg'])?element_cond['arg']:null;
        if(isset(element_cond['op']) && element_cond['op'] == 'compare_element')
        {
            if(isset(arg['elementid']))
            {
                var el = document.getElementById(arg['elementid']);
                if(el.tagName != 'textarea' )
                {
                    var operand2 = el.value;
                }
                else
                {
                    var operand2 = el.innertext;
                }
            }
            else if(isset(arg['elementname']))
            {
                var el = document.getElementsByName(arg['elementname']);
                var k;
                for (k = 0; k < el.length ; k++)
                {
                    if(el[k].tagName != 'TEXTAREA' )
                    {
                        var operand2 = el[k].value;
                    }
                    else
                    {
                        var operand2 = el[k].innertext;
                    }
                }
            }
            var arg1 = Array();
            arg1['operator'] = arg['operator'];
            arg1['comparewith'] = operand2;
            return jsvalidate.validate('compare',element_value,arg1);
        }
        else
        {
            return jsvalidate.validate(element_cond['op'],element_value,arg);

        }
    }
    </script>
    <script>
    var formerrors = new Array();                                                                                                                        
    formerrors.error_count = '0';
    $(document).ready(events_validator());
    </script>